#content
{
    display: flex;
    flex-direction: column;
}
#main_header
{
    text-align: center;
}

#content
{
    width: 50vh;
    margin: auto;
}
input
{
    margin-bottom: 1rem;
    padding: 1rem;
}
#btn-submit
{
    width: 40%;
    margin: auto;
    padding: 1rem;
}
#output
{
    text-align: center;
    margin-top: 1rem;
}